
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('imagefor.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.form {
    width: 420px;
    color: white;
    border-radius: 12px;
    padding: 30px 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}
.form h1 {
    font-size: 36px;
    text-align: center;
}
.form .input-data {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-data input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.input-data input::placeholder {
    color: white;
}
.input-data img {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 20px;
}
.form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -10px 0 15px;
}
.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.form .btton {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
}
.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
    text-decoration: underline;
}
